<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link href="/css/bootstrap.css" rel="stylesheet">
    <style type="text/css">
      body {
        padding-top: 60px;
        padding-bottom: 40px;
      }
      .sidebar-nav {
        padding: 9px 0;
      }
    </style>
    <link rel='stylesheet' href='/css/bootstrap-responsive.css' />
    <script src="/js/jquery.js"></script>
    <script src="/js/bootstrap.js"></script>
    <% for (var i=0,ii=extra_scripts.length;i<ii;++i) {var script=extra_scripts[i] %>
      <script src="<%= script %>"></script>
    <% } %>
    <% for (var i=0,ii=extra_links.length;i<ii;++i) {var link=extra_links[i] %>
      <link href="<%= link.href %>" type="<%= link.type %>" rel="<%= link.rel %>">
    <% } %>
  </head>
  <body>
    <div class="navbar navbar-fixed-top">
      <div class="navbar-inner">
        <div class="container-fluid">
          <a class="brand" href="/">L10n Community</a>
          <div class="btn-group pull-right">
            <% if (logged_in) { %>
            <a class="btn dropdown-toggle" data-toggle="dropdown" href="#">
              <i class="icon-user"></i>
              <%= shortname %>
              <span class="caret"></span>
            </a>
            <ul class="dropdown-menu">
              <li><a href="/profile">Axel Hecht &lt;axel@mozo></a></li>
            </ul>
              <% } else { %>
            <a class="btn dropdown-toggle" data-toggle="dropdown" href="#">
              <i class="icon-user"></i>
              Not logged in
              <span class="caret"></span>
            </a>
            <ul class="dropdown-menu">
              <li><a href="/profile">Log in</a></li>
            </ul>
            <% } %>
          </div>
        </div>
      </div>
    </div>
    <%- body %>
  </body>
</html>